
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
.custom-button {
  padding: 4px 20px;       
  font-size: 10px;
font-family: 'Lexend Deca', sans-serif;          
  background-color: #BB8C1A; 
  color: white;              
  border: none;              
  border-radius: 10px;        
  cursor: pointer;           
  transition: all 0.3s ease;  
}



.custom-button:hover {
  background-color: #BB8C1A; 
  transform: scale(1.05);      
}

.custom-button:focus {
  outline: none;              
}
