@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.playFair{
    font-family: 'Playfair Display', serif;
}
/* Webkit Browsers */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

/* Firefox */

