@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.playFair {
  font-family: "Playfair Display", serif;
}
.lexendDeca {
  font-family: "Lexend Deca", sans-serif;
}
.h-screen {
  background: linear-gradient(90deg, transparent 0%, #0e1a34 88%);
}
